<section id="projects-section">
    <h2>Projets</h2>
    <div class="row justify-content-center mt-2 mb-2">
        {{ range first 6 ( where .Site.RegularPages "Section" "projects" ) }}
            <div class="container-card mb-3 mt-3">
                <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="card h-100">
                        <picture>
                            <source srcset="{{ .RelPermalink }}/cover.webp" type="image/webp">
                            <source srcset="{{ .RelPermalink }}/cover.jpg" type="image/jpeg"> 
                            <img class="card-img-top" src="{{ .RelPermalink }}/cover.jpg" alt="cover" />
                        </picture> 
                        <div class="card-body">
                        <h5 class="card-title">{{ .Title }}</h5>
                        <p class="card-text text-justify">{{ .Description | safeHTML | truncate 100 }}</p>
                        </div>
                        <div class="card-footer text-center">
                            {{ range first 3 (.GetTerms "tags") }}
                                <span class="badge rounded-pill" style="background-color: #173b6c;">{{.Title}}</span>
                            {{ end }}
                        </div>                        
                    </div>
                </a>
            </div>
        {{ end }}
    </div>
</section>