{{ define "main" }}
    <main>
        <section id="list-section">
            <h2>Mes projets</h2>
            <div class="row">
                <ul class="list-group list-group-flush" style="max-width: 500px;">
                    {{ range ( where .Site.RegularPages "Section" "projects" ) }}
                        <li class="list-group-item pb-3 pt-3">
                            <a href="{{ .RelPermalink }}">
                                <h4>{{ .Title }}</h4>
                                <p class="text-justify">{{ .Description | safeHTML | truncate 100 }}</p>
                                {{ range first 10 (.GetTerms "tags") }}
                                    <span class="badge rounded-pill" style="background-color: #149ddd;">{{.Title}}</span>
                                {{ end }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
        </section>
    </main>
{{ end }}