{{ define "main" }}
    <main>
        <section id="list-section">
            <h2>Mes projets</h2>
            <div class="row">
                <ul class="list-group list-group-flush" style="max-width: 500px;">
                    {{ range ( where .Site.RegularPages "Section" "projects" ) }}
                        <li class="list-group-item pb-3 pt-3">
                            <a href="{{ .RelPermalink }}">
                                <h4>{{ .Title }}</h4>
                                <p class="text-justify">{{ .Description | safeHTML | truncate 100 }}</p>
                                {{ range first 10 (.GetTerms "tags") }}
                                    <span class="badge rounded-pill" style="background-color: #149ddd;">{{.Title}}</span>
                                {{ end }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            <!--<div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    {{ range first (math.Round (div (site.RegularPages.Len) 2.)) ( where .Site.RegularPages "Section" "projects" ) }}
                    <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="{{ .RelPermalink }}/cover.jpg" class="img-fluid rounded-start" alt="cover">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ .Title }}</h5>
                                    <p class="card-text text-justify">{{ .Description | safeHTML | truncate 100 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    {{ end }}
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    {{ range last (div (site.RegularPages.Len) 2.) ( where .Site.RegularPages "Section" "projects" ) }}
                    <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-lg-4">
                                <img src="{{ .RelPermalink }}/cover.jpg" style="height:100%" class="img-fluid rounded-start" alt="cover">
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ .Title }}</h5>
                                    <p class="card-text text-justify">{{ .Description | safeHTML | truncate 100 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    {{ end }}
                </div>
            </div>-->
        </section>
    </main>
{{ end }}