{{ define "main" }}
    <main>
        <section id="resume">
            <h2>Parcours</h2>
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="subsection">
                        <h4 class="sub-title">Associatif</h4>
                        {{ range site.Params.associatives }}
                            <div class="item-timeline">
                                <h4>{{ .title }}</h4>
                                <p class="date">{{ .date }}</p>
                                <p class="location">{{ .location }}</p>
                                <p>{{ .description }}</p>
                            </div>
                        {{ end }}
                    </div>
                    <div class="subsection">
                        <h4 class="sub-title">Scolaire</h4>
                        {{ range site.Params.studies }}
                            <div class="item-timeline">
                                <h4>{{ .title }}</h4>
                                <p class="date">{{ .date }}</p>
                                <p class="location">{{ .location }}</p>
                                <p>{{ .description }}</p>
                            </div>
                        {{ end }}
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="subsection">
                        <h4 class="sub-title">Professionnel</h4>
                        {{ range site.Params.professionals }}
                            <div class="item-timeline">
                                <h4>{{ .title }}</h4>
                                <p class="date">{{ .date }}</p>
                                <p class="location">{{ .location }}</p>
                                <ul>
                                    {{ range .responsibilities }}
                                        <li>{{ . }} </li>
                                    {{ end }}
                                </ul>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </section>

        {{ partial "sections/tools.html" . }}

        {{ partial "sections/projects.html" . }}

        {{ partial "sections/contact.html" . }}
    </main>
{{ end }}